# Node.js
node_modules
.env

# Terraform build and state files
.terraform/             # This should catch everything inside .terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Since the main.tf is in `terraform/`, `terraform init` creates `terraform/.terraform/`
# So, the specific rules below are also important to have:
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*.tfvars
terraform/*.tfvars.json

# Ignore outputs, which are often sensitive
terraform/terraform.tfvars
terraform/terraform.tfvars.json




